@import "../base/variables.scss";

.Search {
    .form-row {
        margin-bottom: 0;
    }
    button[type="submit"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.autocomplete {
    padding: 0;
    ul {
        padding-left: 0;
        list-style: none;
        border: 1px solid #ced4da;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 1;
        width: 100%;
        li {
            button {
                width: 100%;
                text-align: left;
                padding: .375rem .75rem;
                cursor: pointer;
                border: none;
                background-color: #fff;
                &:hover {
                    background-color: $gray;
                    color: #fff;
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid #ced4da;
            }
        }
    }
}

.search-input {
    position: relative;
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 5px;
        margin-left: 5px;
        height: 100%;
        width: 35px;
        border: none;
        background-color: inherit;
    }
}

.select-input {
    .form-control {
        padding: .375rem .25rem;
    }
}

.results {
    &__item {
        padding-bottom: 25px;
        p {
            margin-bottom: 0;
            line-height: 1.333;
        }
        img {
            margin-bottom: 10px;
        }
        &:hover {
            text-decoration: none;
        }
    }
}